<h1>About me</h1>
<div>
  <section class="left">
    <p> We live in an exciting time in history. For decades, technology has been swiftly empowering humanity towards a brighter future. From gaming to medicine, communication to space exploration, technology is pushing us further than we ever thought possible. Even as a kid, I knew that I wanted to be a part of this movement. </p>
  </section>
  <section class="right">
    <p>My degree, personal projects, past work experience, and ongoing professional development have all been geared towards a better understanding of how technology can enhance our lives. My skill set includes a knowledge of both hardware and software, Windows, Linux, and OSX operating systems, and a variety of programming languages and run time environments such as: Java, Javascript, JQuery, Node.js, Pug, HTML, CSS, MySQL/Oracle, Mongoose/MongoDB,  C/C++ (arduino subset), and C# </p>
  </section>

  <%= link_to 'Home', root_path %>
</div>