<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <h1>Welcome to the Alpha Blog!</h1>
    <div>
      <%= image_tag("leaves.jpg", :height => 650 ) %>
      <p> This is a simple application to test out my skills with ruby on rails! </p>
      <%= link_to('About', about_path) %>
    </div>
  </body>

  <footer></footer>
</html>
