// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-default-bg: rgb(125, 117, 155);
$primary: rgb(125, 117, 155) !important;

@import "bootstrap-sprockets";
@import "bootstrap";

#navbar a {
  color: #fff;
}

.dropdown-menu{
  background-color: rgb(74, 69, 92) !important;
}
.dropdown-menu li a:hover{
  background-color:rgb(125, 117, 155);
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(83, 79, 79);
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron-main {
  background-image: asset-url('desk.jpg');
  background-position: 80% 20%;
  background-size: cover;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
  background-image: asset-url('spaceShot.jpg');
  background-position: 80% 20%;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.navbar {
  width: 100%;
  text-align: center;
}

.jumbotron h1, .jumbotron-main h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 400px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron-signup h1 {
  margin-bottom: 100px;
}

.btn-signUp {
  background-color: rgb(125, 117, 155);
  border: none;
}

.btn-large {
  font-size: 1.2em;
  padding: 10px !important;
}

.btn-signUp:hover, .btn-signUp:focus, .btn-signUp:active.focus, .btn-signUp.active:hover, .btn-signUp.active:focus, .btn-signUp.active.focus {
  color: #fff;
  background-color: rgb(74, 69, 92) !important;
}

.btn-danger {
  border-top: 5px;
  border-radius: 3px;
  padding: 5px;
}

.btn-success {
  border-top: 5px;
  border-radius: 3px;
  padding: 5px;
}

.btn-primary {
  background-color: rgb(125, 117, 155);
  border-top: 5px;
  border-color: rgb(74, 69, 92);
  border-radius: 3px;
  padding: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
  color: #fff;
  background-color: rgb(74, 69, 92) !important;
}


.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta_details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}